.metafora {
	width: 100%;
	height: 88vh;
	background-color: rgba(210, 180, 140, 0.247);
	display: flex;
	justify-content: center;
	align-items: center;

	&__header {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 2rem;
	}

	&__description {
		background-color: rgba(25, 25, 25, 0.2);
		padding: 2rem 6rem;
		height: 63.5%;

		h1 {
			font-size: 2rem;
		}
		p {
			font-size: 1rem;
		}
	}
}
