{
  "processors": [
    "stylelint-processor-styled-components"
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended",
    "stylelint-config-styled-components",
    "stylelint-a11y"
  ],
  "plugins": [
    "stylelint-a11y"
  ],
  "rules": {
    "a11y/media-prefers-reduced-motion": true,
    "a11y/no-outline-none": true,
    "a11y/selector-pseudo-class-focus": true,
    "value-keyword-case": null,
    "declaration-colon-newline-after": null
  }
}
