@import "../../assets/antd-custom.less";

.app {
	position: relative;
	padding-bottom: 4rem;

	& main {
		margin-bottom: 1rem;
	}

	&__footer {
		position: absolute;
		bottom: 0;
	}

	@media screen and (max-width: @tablet) {
		&__navbar {
			display: none;
		}

		&__burger-menu {
			display: initial;
		}
	}

	@media screen and (min-width: @tablet) and (max-width: @desktop) {
		&__navbar {
			display: none;
		}

		&__burger-menu {
			display: initial;
		}
	}

	@media screen and (min-width: @desktop) {
		&__navbar {
			display: initial;
		}

		&__burger-menu {
			display: none;
		}
	}
}
