@mobile-sm: 120px;
@tablet: 700px;
@desktop-sm: 1280px;

.pronto {
	background-color: rgba(222, 184, 135, 0.486);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
	height: 92vh;

	&__content {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding-top: 3rem;

		@media screen and (min-width: @mobile-sm) {
			padding: 1rem;
		}
	}

	&__article {
		width: 60%;
		height: 100%;
		text-align: center;
		& h1 {
			font-size: 2rem;
			font-weight: 600;
		}

		@media screen and (max-width: @tablet) {
			width: 100%;
			& h1 {
				font-size: 2rem;
				margin: 5px 0 1rem 0;
			}
		}
	}

	&__img {
		@media screen and (min-width: @mobile-sm) {
			width: 300px;
			height: 200px;
		}
		@media screen and (min-width: @tablet) {
			width: 450px;
			height: 350px;
		}
		@media screen and (min-width: @desktop-sm) {
			width: 600px;
			height: 500px;
		}
	}
}
