.orq-futuros {
	width: 100%;
	height: 88vh;
	background-color: rgba(210, 180, 140, 0.247);
	display: flex;
	justify-content: center;
	align-items: center;

	&__content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		background-image: url(/images/background-lightblue.jpg);
		background-size: cover;
		background-position: center;
		height: 70%;
		width: 60%;
	}

	&__article {
		width: 30rem;
		margin-right: 5rem;
		background-color: rgba(25, 25, 25, 0.2);
		padding: 2rem;

		h1 {
			font-size: 2rem;
		}
		p {
			font-size: 1rem;
		}
	}
}
