@import "../../assets/antd-custom.less";
/**
 * -------------------------------------------------------------------
 *
 * 														Index layout
 *
 * -------------------------------------------------------------------
 */
.home-layout {
	width: 100%;
	background-color: #ffffff;
}
/**
 * -------------------------------------------------------------------
 *
 * 															Hero
 *
 * -------------------------------------------------------------------
 */
.hero {
	@media screen and (min-width: @mobile) {
		padding: 1rem;
	}

	@media screen and (min-width: @tablet) {
		padding: 1rem;
	}

	@media screen and (min-width: @desktop) {
		height: 90vh;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		&__logo {
			height: 100%;
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
		}

		&__image {
			width: 100%;
			position: absolute;
			z-index: 100;
			display: flex;
			justify-content: flex-end;
			align-items: flex-start;
			padding: 4rem 4rem 0;
		}
	}
}
/**
 * -------------------------------------------------------------------
 *
 * 															About
 *
 * -------------------------------------------------------------------
 */
.about {
	& h3,
	h2 {
		color: #208342;
	}
	@media screen and (min-width: @mobile) {
		padding: 1rem;
		& h2 {
			text-align: center;
		}
		&__hero {
			text-align: center;

			& h3 {
				margin-bottom: 2rem;
				font-size: 2rem;
			}
		}
	}

	@media screen and (min-width: @tablet) {
		padding: 1rem;
	}

	@media screen and (min-width: @desktop) {
		display: flex;
		flex-direction: column;
		padding: 4rem 2rem;
		align-items: center;

		& h2 {
			font-size: 2rem;
			font-weight: 600;
			margin-bottom: 3rem;
			width: 100%;
			text-align: center;
			background-color: #378a56;
			color: #f3f2f2;
			padding: 1rem;
		}

		&__hero {
			text-align: start;
			display: flex;
			padding: 4rem 0;
			justify-content: space-around;
			width: 100%;

			& h3 {
				font-size: 2rem;
				margin-bottom: 5rem;
				& strong {
					font-size: 3rem;
				}
				max-width: 50%;
			}
		}
	}

	/*
	&__metrics {
		width: 100%;
		height: 600px;
		padding: 2rem;
		background-color: rgba(25, 25, 25, 0.1);
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;

		& h4 {
			font-size: 1rem;
			margin: 0;
			font-weight: 100;
		}

		& li {
			list-style: none;
			display: flex;
			align-items: center;
			padding: 1rem;
			flex-direction: column;
			height: 500px;
			width: 400px;
			background-color: rgba(25, 25, 25, 0.1);
			text-align: center;

			& h4 {
				font-size: 1rem;
				margin: 1rem 0 1.5rem;
				font-weight: 100;
			}
			& article {
				width: 300px;
				margin-bottom: 2rem;
			}
		}
	}
	*/
}
/**
 * -------------------------------------------------------------------
 *
 * 															Video
 *
 * -------------------------------------------------------------------
 */
.vision {
	@media screen and (min-width: @mobile) {
		padding: 1rem;

		&__article {
			padding: 2rem 0;
			& h2 {
				text-align: center;
				color: #208342;
			}

			& p {
				color: #208342;
			}
		}
	}

	@media screen and (min-width: @tablet) {
		padding: 1rem;
	}

	@media screen and (min-width: @desktop) {
		display: flex;

		&__video {
			width: 300rem;
			padding: 5rem;

			& video {
				position: relative;
				width: 100%;
				left: 0;
				top: 0;
			}
		}

		&__article {
			background-color: transparent;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 5rem 2rem 0 2rem;

			h2 {
				font-size: 3rem;
				text-align: center;
				color: #b6e0c4;
			}

			p {
				font-size: 1.3rem;
			}
		}
	}
}

/**
 * -------------------------------------------------------------------
 *
 * 															Last Posts
 *
 * -------------------------------------------------------------------
 */

/*
.last-posts {
	background-color: transparent;
	width: 100%;
	background-color: wheat;

	& h2 {
		text-align: center;
		font-weight: 100;
		font-size: 2rem;
	}

	& ul {
		display: flex;
		justify-content: space-between;
		padding: 2rem;
	}

	& li {
		list-style: none;
		display: inline-block;
	}
}
*/
