@import "../../assets/antd-custom.less";
/**
 * -------------------------------------------------------------------
 *
 * 														Index layout
 *
 * -------------------------------------------------------------------
 */
.home-layout {
	width: 100%;
	background-color: #ffffff;
}
/**
 * -------------------------------------------------------------------
 *
 * 															Hero
 *
 * -------------------------------------------------------------------
 */
.hero {
	@media screen and (max-width: @tablet) {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		&__logo {
			& img {
				max-height: 200px;
			}
		}

		&__image {
			width: 100%;
			padding: 0 2rem;
			display: flex;
			justify-content: center;
			& img {
				min-height: 350px;
				object-fit: cover;
				object-position: center center;
			}
		}
	}

	@media screen and (min-width: @tablet) and (max-width: @desktop) {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 2rem;

		&__logo {
			& img {
				max-height: 250px;
			}
		}

		&__image {
			width: 100%;
			padding: 0 4rem;
			display: flex;
			justify-content: center;
			& img {
				min-height: 500px;
				object-fit: cover;
				object-position: center center;
			}
		}
	}

	@media screen and (min-width: @desktop) {
		padding: 2rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		&__logo {
			display: flex;
			justify-content: flex-start;
			align-self: flex-end;
			width: 100%;
			height: 100%;
			padding: 25% 1rem 0;
		}

		&__image {
			width: 100%;
			display: flex;
			padding-bottom: 15%;
		}
	}
}
/**
 * -------------------------------------------------------------------
 *
 * 															About
 *
 * -------------------------------------------------------------------
 */
.about {
	padding: 1rem;

	* {
		color: #208342;
	}

	&__title {
		width: 100%;
		background-color: #378a554f;
		padding: 1rem;
		text-align: center;
		font-size: 2rem;
		font-weight: 400;
	}

	&__article {
		text-align: center;

		& p {
			padding: 4rem 1rem;
			width: 100%;
			margin-bottom: 2rem;
			font-size: 2.5rem;
			text-align: start;
		}

		& img {
			padding: 0 2rem;
			min-height: 400px;
			object-fit: cover;
			object-position: center center;
		}
	}

	@media screen and (max-width: 480px) {
		& p {
			font-weight: 300;
			padding: 0 1rem;
			margin-bottom: 2rem;
		}
	}

	@media screen and (min-width: @desktop) {
		display: flex;
		flex-direction: column;
		padding: 4rem 2rem;
		align-items: center;

		&__title {
			margin-bottom: 3rem;
		}

		&__article {
			text-align: start;
			display: flex;
			padding: 4rem 0;
			justify-content: space-around;
			width: 100%;

			& p {
				font-size: 3.5rem;
				margin-bottom: 5rem;
				& strong {
					font-size: 4.5rem;
				}
				max-width: 50%;
			}
		}
	}
}
/**
 * -------------------------------------------------------------------
 *
 * 															Vision
 *
 * -------------------------------------------------------------------
 */
.vision {
	* {
		color: #208342;
	}

	&__title {
		width: 100%;
		background-color: #378a554f;
		padding: 1rem;
		text-align: center;
		font-size: 2rem;
		font-weight: 400;
	}
	&__article {
		& p {
			font-size: 1.5rem;
			padding: 4rem 2rem;
		}
	}

	@media screen and (max-width: 480px) {
		&__article {
			& p {
				font-size: 1.2rem;
				font-weight: 300;
				padding: 2rem;
			}
		}
		& video {
			padding: 0 1rem;
			width: 100%;
		}
	}

	@media screen and (min-width: @desktop) {
		display: flex;

		& video {
			padding: 1rem;
			width: 100%;
		}

		&__article {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 800px;
			padding: 1rem;

			p {
				font-size: 1.5rem;
			}
		}
	}
}
