.admin-list {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	& h1 {
		text-align: center;
		padding: 1rem 0;
	}

	&__table {
		padding: 0 4rem;
	}
}

.admin-create {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	& h1 {
		text-align: center;
		padding: 1rem 0;
	}

	&__content {
		padding: 0 4rem 0 1rem;
	}
}

.login {
	height: 100%;
	background-color: lightyellow;
	display: flex;
	justify-content: center;
	align-items: center;

	&__form-container {
		background-color: lightslategray;
		border-radius: 10px;
		box-shadow: 0 10px 25px rgba(0, 0, 0, 0.56);
		height: 500px;
		width: 450px;
		padding: 2rem;
	}

	&__title {
		margin: 0;
		font-size: 1.5rem;
	}

	&__subtitle {
		font-style: italic;
	}

	&__text {
		font-style: italic;
	}
}
